In [1]:
import pandas as pd

In [3]:
pd.read_csv("shanghaiData.csv")

,world_rank,university_name,national_rank,total_score,alumni,award,hici,ns,pub,pcp,year
0,1,Harvard University,1,100.0,100.0,100.0,100.0,100.0,100.0,72.4,2005
1,2,University of Cambridge,1,73.6,99.8,93.4,53.3,56.6,70.9,66.9,2005
2,3,Stanford University,2,73.4,41.1,72.2,88.5,70.9,72.3,65.0,2005
3,4,"University of California, Berkeley",3,72.8,71.8,76.0,69.4,73.9,72.2,52.7,2005
4,5,Massachusetts Institute of Technology (MIT),4,70.1,74.0,80.6,66.7,65.8,64.3,53.0,2005
5,6,California Institute of Technology,5,67.1,59.2,68.6,59.8,65.8,52.5,100.0,2005
6,7,Columbia University,6,62.3,79.4,60.6,56.1,54.2,69.5,45.4,2005
7,8,Princeton University,7,60.9,63.4,76.8,60.9,48.7,48.5,59.1,2005
8,9,University of Chicago,8,60.1,75.6,81.9,50.3,44.7,56.4,42.2,2005
9,10,University of Oxford,2,59.7,64.3,59.1,48.4,55.6,68.4,53.2,2005
10,11,Yale University,9,56.9,52.1,44.5,60.3,57.2,63.9,49.3,2005
11,12,Cornell University,10,54.6,46.5,52.4,55.0,48.8,66.3,39.8,2005
12,13,"University of California, San Diego",11,51.0,17.7,34.7,59.8,56.5,64.5,46.6,2005
13,14,"University of California, Los Angeles",12,50.6,27.3,32.8,56.7,50.1,75.6,34.3,2005
14,15,University of Pennsylvania,13,50.2,35.5,35.1,56.7,42.9,71.8,39.1,2005
15,16,University of Wisconsin - Madison,14,49.2,43.0,36.3,52.1,46.3,68.7,29.0,2005
16,17,University of Washington,15,48.4,28.8,32.4,53.9,47.1,73.8,27.2,2005
17,18,"University of California, San Francisco",16,47.8,0.0,37.6,55.6,57.9,58.8,45.2,2005
18,19,The Johns Hopkins University,17,46.9,51.4,28.3,41.6,52.2,67.7,24.9,2005
19,20,The University of Tokyo,1,46.7,36.0,14.4,38.5,52.1,86.5,34.7,2005
20,21,University of Michigan - Ann Arbor,18,44.9,43.0,0.0,61.9,43.0,76.5,30.9,2005
21,22,Kyoto University,2,43.8,39.7,34.1,34.2,37.0,72.3,31.1,2005
22,23,"The Imperial College of Science, Technology an...",3,43.7,20.8,38.1,40.8,38.2,64.6,40.3,2005
23,24,University of Toronto,1,43.1,28.1,19.7,39.3,38.9,76.7,41.9,2005
24,25,University of Illinois at Urbana-Champaign,19,42.8,41.6,37.4,44.4,34.1,58.0,26.0,2005
25,26,University College London,4,42.6,30.7,32.9,37.7,41.5,60.5,38.8,2005
26,27,Swiss Federal Institute of Technology Zurich,1,41.7,40.2,37.0,35.1,41.1,43.4,52.4,2005
27,28,Washington University in St. Louis,20,40.7,25.1,26.6,38.5,46.5,53.9,39.9,2005
28,29,New York University,21,38.8,33.8,25.0,43.0,35.3,55.4,26.3,2005
29,30,Rockefeller University,22,38.2,22.6,59.8,28.3,44.1,24.0,35.9,2005
...,...,...,...,...,...,...,...,...,...,...,...
4867,401-500,University of Jena,29-39,NaN,0.0,0.0,0.0,9.3,34.0,17.1,2015
4868,401-500,University of Jyvaskyla,4-6,NaN,0.0,0.0,3.6,10.3,26.7,14.1,2015
4869,401-500,University of Konstanz,29-39,NaN,0.0,0.0,12.1,11.4,22.2,13.5,2015
4870,401-500,University of KwaZulu-Natal,3-4,NaN,0.0,0.0,3.6,8.4,32.8,16.6,2015
4871,401-500,University of Ljubljana,1,NaN,0.0,0.0,0.0,7.7,35.1,14.2,2015
4872,401-500,"University of Maryland, Baltimore County",126-146,NaN,0.0,0.0,17.4,6.5,17.8,17.3,2015
4873,401-500,University of Milan - Bicocca,11-20,NaN,0.0,0.0,5.0,5.6,30.9,21.4,2015
4874,401-500,University of Nice Sophia Antipolis,19-22,NaN,0.0,0.0,3.6,16.3,26.2,12.7,2015
4875,401-500,University of Oklahoma - Norman,126-146,NaN,0.0,0.0,5.1,10.0,28.0,14.0,2015
4876,401-500,University of Palermo,11-20,NaN,0.0,0.0,6.3,6.6,28.2,14.8,2015
4877,401-500,University of Parma,11-20,NaN,0.0,0.0,13.6,2.1,26.7,19.6,2015
4878,401-500,University of Pavia,11-20,NaN,0.0,0.0,5.0,5.7,30.7,19.7,2015
4879,401-500,University of Perugia,11-20,NaN,0.0,0.0,3.6,7.5,29.3,18.5,2015
4880,401-500,University of Quebec,19-20,NaN,0.0,0.0,0.0,9.8,33.3,16.8,2015
4881,401-500,University of Regensburg,29-39,NaN,0.0,0.0,3.6,13.9,27.7,15.2,2015
4882,401-500,University of Rennes 1,19-22,NaN,0.0,0.0,3.6,9.2,28.1,11.2,2015
4883,401-500,University of Rhode Island,126-146,NaN,0.0,0.0,15.2,6.1,21.1,16.0,2015
4884,401-500,University of Roma - Tor Vergata,11-20,NaN,0.0,0.0,0.0,8.8,33.7,19.2,2015
4885,401-500,University of Rostock,29-39,NaN,0.0,0.0,8.6,8.4,25.0,13.5,2015
4886,401-500,University of Santiago Compostela,9-13,NaN,0.0,0.0,7.1,6.1,31.1,13.2,2015
4887,401-500,"University of Science, Malaysia",2,NaN,0.0,0.0,7.1,3.3,30.6,15.7,2015
4888,401-500,University of Seville,9-13,NaN,0.0,0.0,0.0,7.5,33.7,11.3,2015
4889,401-500,University of Surrey,34-37,NaN,0.0,0.0,8.6,4.9,27.0,18.0,2015
4890,401-500,University of Szeged,1-2,NaN,0.0,13.3,3.6,3.4,21.8,12.8,2015
4891,401-500,University of the Basque Country,9-13,NaN,0.0,0.0,3.6,7.1,36.1,13.5,2015
4892,401-500,University of Trieste,11-20,NaN,0.0,0.0,5.0,10.9,25.1,20.1,2015
4893,401-500,University of Zaragoza,9-13,NaN,0.0,0.0,7.6,5.1,33.3,13.1,2015
4894,401-500,Utah State University,126-146,NaN,13.6,0.0,3.6,10.8,25.1,15.5,2015
4895,401-500,Vienna University of Technology,4-6,NaN,0.0,0.0,0.0,12.2,28.8,22.9,2015
4896,401-500,Wake Forest University,126-146,NaN,0.0,0.0,14.9,7.5,25.0,11.9,2015