In [2]:
import pandas as pd

In [3]:
#Reads in the CSV dataset
complete_data = pd.read_csv("timesData.csv")

# Strips the '=' character from the world_rank column 
# and removes all entries with NaN values in Interernation_students column
complete_data['world_rank'] = complete_data['world_rank'].map(lambda x: x.lstrip('='))
complete_data = complete_data.dropna(axis=0, subset=['international_students'])

#Make all possible columns datatype integers so you can make calculations with the values
#Also removed all percentages for easier calculations
complete_data = complete_data[~complete_data.world_rank.str.contains("-")]
complete_data = complete_data.apply(pd.to_numeric, errors='ignore')
complete_data['international_students'] = complete_data['international_students'].str[:-1].astype(float) 

# Filters all entries on the year 2016 and selects the top 200 of that result
latest_year = complete_data[(complete_data['year'] == 2016) & (complete_data['world_rank'] <= 200)]

latest_year

,world_rank,university_name,country,teaching,international,research,citations,income,total_score,num_students,student_staff_ratio,international_students,female_male_ratio,year
1803,1,California Institute of Technology,United States of America,95.6,64.0,97.6,99.8,97.8,95.2,"2,243",6.9,27.0,33 : 67,2016
1804,2,University of Oxford,United Kingdom,86.5,94.4,98.9,98.8,73.1,94.2,"19,919",11.6,34.0,46 : 54,2016
1805,3,Stanford University,United States of America,92.5,76.3,96.2,99.9,63.3,93.9,"15,596",7.8,22.0,42 : 58,2016
1806,4,University of Cambridge,United Kingdom,88.2,91.5,96.7,97.0,55.0,92.8,"18,812",11.8,34.0,46 : 54,2016
1807,5,Massachusetts Institute of Technology,United States of America,89.4,84.0,88.6,99.7,95.4,92.0,"11,074",9.0,33.0,37 : 63,2016
1808,6,Harvard University,United States of America,83.6,77.2,99.0,99.8,45.2,91.6,"20,152",8.9,25.0,NaN,2016
1809,7,Princeton University,United States of America,85.1,78.5,91.9,99.3,52.1,90.1,"7,929",8.4,27.0,45 : 55,2016
1810,8,Imperial College London,United Kingdom,83.3,96.0,88.5,96.7,53.7,89.1,"15,060",11.7,51.0,37 : 63,2016
1811,9,ETH Zurich â€“ Swiss Federal Institute of Techno...,Switzerland,77.0,97.9,95.0,91.1,80.0,88.3,"18,178",14.7,37.0,31 : 69,2016
1812,10,University of Chicago,United States of America,85.7,65.0,88.9,99.2,36.6,87.9,"14,221",6.9,21.0,42 : 58,2016
1813,11,Johns Hopkins University,United States of America,77.6,70.0,90.4,98.2,100.0,87.6,"15,128",3.6,23.0,50 : 50,2016
1814,12,Yale University,United States of America,86.5,64.3,87.8,97.2,43.3,87.4,"11,751",4.4,20.0,50 : 50,2016
1815,13,"University of California, Berkeley",United States of America,80.4,61.9,91.1,99.7,47.9,87.2,"36,186",16.4,15.0,50 : 50,2016
1816,14,University College London,United Kingdom,78.1,94.4,91.0,94.2,40.5,87.1,"26,607",10.7,46.0,56 : 44,2016
1817,15,Columbia University,United States of America,85.9,73.5,82.2,98.1,-,86.1,"25,055",5.9,28.0,NaN,2016
1818,16,"University of California, Los Angeles",United States of America,80.8,56.4,88.6,98.5,47.9,85.8,"38,206",10.3,15.0,52 : 48,2016
1819,17,University of Pennsylvania,United States of America,82.0,49.5,86.9,98.6,47.9,85.2,"20,376",6.5,20.0,51 : 49,2016
1820,18,Cornell University,United States of America,77.9,63.9,86.1,97.2,33.7,84.0,"21,424",10.2,19.0,48 : 52,2016
1821,19,University of Toronto,Canada,75.9,77.8,89.3,90.9,49.1,83.9,"66,198",19.5,15.0,NaN,2016
1822,20,Duke University,United States of America,76.0,56.5,78.0,99.0,100.0,82.7,"15,172",4.8,17.0,49 : 51,2016
1823,21,University of Michigan,United States of America,76.8,53.7,85.2,94.4,56.3,82.4,"41,786",9.0,16.0,48 : 52,2016
1824,22,Carnegie Mellon University,United States of America,67.4,57.1,88.8,99.1,57.5,82.3,"11,885",13.1,35.0,39 : 61,2016
1826,24,University of Edinburgh,United Kingdom,68.6,89.8,77.2,96.3,36.1,80.3,"25,774",14.1,36.0,58 : 42,2016
1827,25,Northwestern University,United States of America,69.8,53.9,78.4,96.5,81.2,79.5,"18,334",13.8,15.0,48 : 52,2016
1828,26,National University of Singapore,Singapore,71.7,96.2,84.5,79.4,49.8,79.2,"31,592",15.5,34.0,49 : 51,2016
1829,27,Kingâ€™s College London,United Kingdom,64.5,93.8,75.8,93.8,40.1,78.2,"21,394",11.4,37.0,61 : 39,2016
1830,28,Karolinska Institute,Sweden,60.6,73.1,81.1,92.2,75.8,77.5,"7,774",11.5,22.0,70 : 30,2016
1831,29,LMU Munich,Germany,70.5,62.8,77.4,85.7,100.0,77.3,"35,691",15.5,13.0,62 : 38,2016
1832,30,New York University,United States of America,74.7,49.3,72.3,95.3,30.4,77.2,"42,056",6.8,19.0,55 : 45,2016
1833,31,Ã‰cole Polytechnique FÃ©dÃ©rale de Lausanne,Switzerland,61.3,98.6,67.5,94.6,65.4,76.1,"9,666",10.5,54.0,27 : 73,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1973,167,UniversitÃ© Catholique de Louvain,Belgium,38.7,74.2,40.6,68.4,51.0,51.1,"28,856",42.0,19.0,54 : 46,2016
1974,172,University of Aberdeen,United Kingdom,29.7,91.4,31.4,82.6,43.1,51.0,"12,938",15.8,33.0,54 : 46,2016
1975,172,University of Auckland,New Zealand,31.4,90.5,39.5,69.8,78.0,51.0,"29,787",18.9,28.0,54 : 46,2016
1976,174,University of Barcelona,Spain,38.5,49.2,37.4,78.9,31.1,50.9,"47,491",12.2,10.0,62 : 38,2016
1977,175,University of Konstanz,Germany,38.5,58.3,46.7,61.9,92.4,50.8,"10,930",59.1,12.0,54 : 46,2016
1978,176,Eindhoven University of Technology,Netherlands,34.3,71.3,41.0,70.7,57.3,50.6,"8,176",16.0,14.0,19 : 81,2016
1979,176,University College Dublin,Republic of Ireland,35.0,86.3,38.5,70.8,33.5,50.6,"22,193",24.5,23.0,NaN,2016
1980,178,Hebrew University of Jerusalem,Israel,45.8,55.6,41.4,64.6,31.9,50.5,"17,612",10.7,5.0,55 : 45,2016
1981,179,University of Waterloo,Canada,35.4,74.4,43.9,66.5,39.5,50.3,"30,726",24.2,14.0,45 : 55,2016
1982,180,University of Gothenburg,Sweden,28.5,58.3,39.8,81.8,30.3,50.2,"26,420",16.4,12.0,NaN,2016
1983,180,Scuola Superiore Santâ€™Anna,Italy,42.5,45.2,23.2,84.5,71.2,50.2,769,8.5,17.0,35 : 65,2016
1984,182,University of Bergen,Norway,32.5,70.0,31.5,82.4,36.2,50.1,"11,623",11.1,12.0,60 : 40,2016
1985,182,Cardiff University,United Kingdom,30.9,78.1,31.6,82.0,34.6,50.1,"23,347",13.1,23.0,57 : 43,2016
1986,182,University of Utah,United States of America,35.6,30.1,35.3,83.7,57.4,50.1,"25,674",16.9,9.0,45 : 55,2016
1987,185,Brandeis University,United States of America,28.3,47.0,25.7,97.3,38.6,49.9,"5,495",12.6,22.0,55 : 45,2016
1988,185,University of Dundee,United Kingdom,25.6,78.5,26.9,90.2,49.5,49.9,"11,628",15.3,25.0,60 : 40,2016
1989,185,University of WÃ¼rzburg,Germany,34.6,50.9,35.8,79.1,47.9,49.9,"26,576",38.4,8.0,57 : 43,2016
1990,188,Paris-Sud University,France,38.7,64.2,29.0,79.8,28.8,49.8,"27,603",15.0,17.0,NaN,2016
1991,189,Arizona State University,United States of America,32.4,31.9,38.1,84.6,32.0,49.7,"83,236",29.9,9.0,50 : 50,2016
1992,190,University of Antwerp,Belgium,31.6,64.8,40.8,71.7,60.3,49.6,"12,346",30.3,16.0,56 : 44,2016
1993,190,Boston College,United States of America,34.1,60.0,29.3,83.3,46.8,49.6,"13,216",17.4,19.0,54 : 46,2016
1994,192,Ulm University,Germany,35.2,58.2,23.9,86.4,58.4,49.5,"9,187",11.2,10.0,47 : 53,2016
1995,193,University of Luxembourg,Luxembourg,25.0,99.8,26.7,84.8,38.1,49.4,"5,144",15.9,52.0,50 : 50,2016
1996,193,Texas A&M University,United States of America,49.4,47.8,52.4,47.1,46.4,49.4,"50,657",21.4,9.0,47 : 53,2016
1997,195,CharitÃ© - UniversitÃ¤tsmedizin Berlin,Germany,37.3,61.1,22.2,83.8,68.4,49.3,"6,853",6.6,16.0,64 : 36,2016
1998,196,Newcastle University,United Kingdom,30.9,84.3,27.5,81.5,34.7,49.2,"20,174",15.2,29.0,50 : 50,2016
1999,196,"St Georgeâ€™s, University of London",United Kingdom,25.6,69.5,18.1,100.0,37.7,49.2,"2,958",13.4,17.0,61 : 39,2016
2000,198,University of Trento,Italy,30.8,55.9,27.4,87.7,47.1,49.1,"16,841",43.2,8.0,51 : 49,2016
2001,199,Paris Diderot University â€“ Paris 7,France,30.5,64.9,22.9,91.0,29.0,48.9,"27,756",14.8,17.0,63 : 37,2016
2002,200,Queenâ€™s University Belfast,United Kingdom,34.1,93.4,33.3,68.9,35.7,48.8,"17,940",17.9,30.0,54 : 46,2016

In [4]:
# Importeer nodige functies en modules
from plotly.offline import init_notebook_mode, iplot
import plotly.graph_objs as go

# Start notebook mode
init_notebook_mode(connected=True)

# Create random data with numpy
import numpy as np


# Create a trace
trace1 = go.Scatter(
    x=latest_year['world_rank'],
    y=latest_year['total_score'],
    mode = 'lines'
)

data = [trace1]

# Edit the layout
layout = dict(title = 'The total score for the top 200 of the most recent year (2016)',
              xaxis = dict(title = 'Position in the world ranking'),
              yaxis = dict(title = 'Total score'),
              )

fig = dict(data=data, layout=layout)
iplot(fig, filename='basic-line')

In [5]:
N = list(range(1, 201, 1))

data = [go.Bar(
            x=N,
            y=latest_year['international_students']
    )]


layout = go.Layout(
    title = 'The percentage of international students per university in the top 200 for the latest year (2016)',
    yaxis = go.layout.YAxis(
        tickmode = 'linear',
        tick0 = 0,
        dtick = 5,
        ticksuffix = "%",
        title = 'Percentage international students'
    ),
    xaxis = go.layout.XAxis(
        title = 'University ranking #'
    )
)
fig = go.Figure(data=data, layout=layout)
iplot(fig, filename='basic-bar')

In [6]:
#For optimal calculations for future graphs and pie charts we want to divide all the years into 4 groups of 50 university.
#We first make 6 seperate dataframe, each for every year
#After that we create a list to put the means of every group inside of it
#The last step is to append every mean calculation into the earlier created list

#2011
year1 = complete_data[(complete_data['year'] == 2011)]

#Divides the years into 4 groups of 50 universities and puts them in a list for every year.
year1_means = []
year1_means.extend([
    year1['international_students'][:50].mean(),
    year1['international_students'][51:100].mean(),
    year1['international_students'][101:150].mean(),
    year1['international_students'][150:].mean()
])

#2012
year2 = complete_data[(complete_data['year'] == 2012)]

year2_means = []
year2_means.extend([
    year2['international_students'][:50].mean(),
    year2['international_students'][51:100].mean(),
    year2['international_students'][101:150].mean(),
    year2['international_students'][150:].mean()
])
                      
#2013
year3 = complete_data[(complete_data['year'] == 2013)]

year3_means = []
year3_means.extend([
    year3['international_students'][:50].mean(),
    year3['international_students'][51:100].mean(),
    year3['international_students'][101:150].mean(),
    year3['international_students'][151:].mean()
])
                      
#2014              
year4 = complete_data[(complete_data['year'] == 2014)]

year4_means = []
year4_means.extend([
    year4['international_students'][:50].mean(),
    year4['international_students'][51:100].mean(),
    year4['international_students'][101:150].mean(),
    year4['international_students'][151:].mean()
])
                      
#2015
year5 = complete_data[(complete_data['year'] == 2015)]

year5_means = []
year5_means.extend([
    year5['international_students'][:50].mean(),
    year5['international_students'][51:100].mean(),
    year5['international_students'][101:150].mean(),
    year5['international_students'][151:].mean()
])
            
#2016
year6 = latest_year

year6_means = []
year6_means.extend([
    year6['international_students'][:50].mean(),
    year6['international_students'][51:100].mean(),
    year6['international_students'][101:150].mean(),
    year6['international_students'][151:].mean()
])

In [7]:
#Create a list for all the years for better readability
years = list(range(2011, 2017, 1))

trace1 = go.Bar(
    x=years,
    y=[year1_means[0], year2_means[0], year3_means[0], year4_means[0], year5_means[0], year6_means[0]],
    name='Ranked 1-50'
)
trace2 = go.Bar(
    x=years,
    y=[year1_means[1], year2_means[1], year3_means[1], year4_means[1], year5_means[1], year6_means[1]],
    name='Ranked 51-100'
)
trace3 = go.Bar(
    x=years,
    y=[year1_means[2], year2_means[2], year3_means[2], year4_means[2], year5_means[2], year6_means[2]],
    name='Ranked 101-150'
)
trace4 = go.Bar(
    x=years,
    y=[year1_means[3], year2_means[3], year3_means[3], year4_means[3], year5_means[3], year6_means[3]],
    name='Ranked 151-200'
)

data = [trace1, trace2, trace3, trace4]
layout = go.Layout(
    barmode='group',
    title = 'Comparison between 4 equally divided groups for every 50 rankings on the amount of international students',
    yaxis = go.layout.YAxis(
        tickmode = 'linear',
        tick0 = 0,
        dtick = 5,
        ticklen=6,
        tickwidth=3,
        range=[0, 30],
        ticksuffix = "%",
        title = 'Percentage international students'
    ),
    xaxis = go.layout.XAxis(
        title = 'Year'
    )
    
)

fig = go.Figure(data=data, layout=layout)
iplot(fig, filename='grouped-bar')

In [22]:
import plotly.plotly as py
import plotly.graph_objs as go

trace0 = dict(
    x=years,
    y=[120, 60, 40, 10],
    hoverinfo='x+y',
    mode='lines',
    stackgroup='one',
    name = 'Ranked 1-50'
)
trace1 = dict(
    x=years,
    y=[20, 10, 10, 60],
    hoverinfo='x+y',
    mode='lines',
    stackgroup='one',
    name = 'Ranked 51-100'
)
trace2 = dict(
    x=years,
    y=[40, 30, 50, 30],
    hoverinfo='x+y',
    mode='lines',
    stackgroup='one',
    name = 'Ranked 101-150'
)
trace3 = dict(
    x=years,
    y=[40, 30, 50, 30],
    hoverinfo='x+y',
    mode='lines',
    stackgroup='one',
    name = 'Ranked 151-200'
)
data = [trace0, trace1, trace2, trace3]

fig = dict(data=data)
iplot(fig, filename='stacked-area-plot-hover', validate=False)