In [2]:
import pandas as pd
import numpy as np
from plotly.tools import FigureFactory as FF
import json

In [3]:
#Reads in the CSV dataset
complete_data = pd.read_csv("timesData.csv")

# Strips the '=' character from the world_rank column 
# and removes all entries with NaN values in Interernation_students column
complete_data['world_rank'] = complete_data['world_rank'].map(lambda x: x.lstrip('='))
complete_data = complete_data.dropna(axis=0, subset=['international_students'])

#Make all possible columns datatype integers so you can make calculations with the values
#Also removed all percentages for easier calculations
complete_data = complete_data[~complete_data.world_rank.str.contains("-")]
complete_data = complete_data.apply(pd.to_numeric, errors='ignore')

complete_data['international_students'] = complete_data['international_students'].str[:-1].astype(float)

complete_data.loc[complete_data['international'] == '-', 'international'] = 0
complete_data['international'] = complete_data['international'].astype(float)

#Removes all the comma's from the num_students columns
complete_data['num_students'] = complete_data['num_students'].str.replace(',', '').astype(int)

complete_data

,world_rank,university_name,country,teaching,international,research,citations,income,total_score,num_students,student_staff_ratio,international_students,female_male_ratio,year
0,1,Harvard University,United States of America,99.7,72.4,98.7,98.8,34.5,96.1,20152,8.9,25.0,NaN,2011
1,2,California Institute of Technology,United States of America,97.7,54.6,98.0,99.9,83.7,96.0,2243,6.9,27.0,33 : 67,2011
2,3,Massachusetts Institute of Technology,United States of America,97.8,82.3,91.4,99.9,87.5,95.6,11074,9.0,33.0,37 : 63,2011
3,4,Stanford University,United States of America,98.3,29.5,98.1,99.2,64.3,94.3,15596,7.8,22.0,42 : 58,2011
4,5,Princeton University,United States of America,90.9,70.3,95.4,99.9,-,94.2,7929,8.4,27.0,45 : 55,2011
5,6,University of Cambridge,United Kingdom,90.5,77.7,94.1,94.0,57.0,91.2,18812,11.8,34.0,46 : 54,2011
6,6,University of Oxford,United Kingdom,88.2,77.2,93.9,95.1,73.5,91.2,19919,11.6,34.0,46 : 54,2011
7,8,"University of California, Berkeley",United States of America,84.2,39.6,99.3,97.8,-,91.1,36186,16.4,15.0,50 : 50,2011
8,9,Imperial College London,United Kingdom,89.2,90.0,94.5,88.3,92.9,90.6,15060,11.7,51.0,37 : 63,2011
9,10,Yale University,United States of America,92.1,59.2,89.7,91.5,-,89.5,11751,4.4,20.0,50 : 50,2011
10,11,"University of California, Los Angeles",United States of America,83.0,48.1,92.9,93.2,-,87.7,38206,10.3,15.0,52 : 48,2011
11,12,University of Chicago,United States of America,79.1,62.8,87.9,96.9,-,86.9,14221,6.9,21.0,42 : 58,2011
12,13,Johns Hopkins University,United States of America,80.9,58.5,89.2,92.3,100.0,86.4,15128,3.6,23.0,50 : 50,2011
13,14,Cornell University,United States of America,82.2,62.4,88.8,88.1,34.7,83.9,21424,10.2,19.0,48 : 52,2011
14,15,ETH Zurich â€“ Swiss Federal Institute of Techno...,Switzerland,77.5,93.7,87.8,83.1,-,83.4,18178,14.7,37.0,31 : 69,2011
15,15,University of Michigan,United States of America,83.9,53.3,89.1,84.1,59.6,83.4,41786,9.0,16.0,48 : 52,2011
16,17,University of Toronto,Canada,75.8,0.0,87.9,82.2,-,82.0,66198,19.5,15.0,NaN,2011
17,18,Columbia University,United States of America,73.8,90.9,73.8,92.6,-,81.0,25055,5.9,28.0,NaN,2011
18,19,University of Pennsylvania,United States of America,71.8,32.9,82.7,93.6,43.7,79.5,20376,6.5,20.0,51 : 49,2011
19,20,Carnegie Mellon University,United States of America,70.3,39.1,79.3,95.7,53.7,79.3,11885,13.1,35.0,39 : 61,2011
20,21,University of Hong Kong,Hong Kong,68.4,91.4,71.4,96.1,56.5,79.2,19835,17.6,38.0,53 : 47,2011
21,22,University College London,United Kingdom,74.0,90.8,81.6,80.6,39.0,78.4,26607,10.7,46.0,56 : 44,2011
22,23,University of Washington,United States of America,68.2,49.0,77.1,95.9,32.8,78.0,44020,11.8,13.0,53 : 47,2011
23,24,Duke University,United States of America,66.8,49.4,71.5,92.3,100.0,76.5,15172,4.8,17.0,49 : 51,2011
24,25,Northwestern University,United States of America,64.5,60.5,68.8,95.3,-,75.9,18334,13.8,15.0,48 : 52,2011
25,26,University of Tokyo,Japan,87.7,18.4,91.9,58.1,-,75.6,26199,5.7,10.0,NaN,2011
26,27,Georgia Institute of Technology,United States of America,67.9,73.2,72.6,83.2,95.1,75.3,19967,20.1,26.0,31 : 69,2011
27,28,Pohang University of Science and Technology,South Korea,69.5,32.6,62.5,96.5,100.0,75.1,3055,10.1,4.0,20 : 80,2011
28,29,"University of California, Santa Barbara",United States of America,56.6,64.3,68.0,98.8,89.8,75.0,22020,27.3,11.0,52 : 48,2011
29,30,University of British Columbia,Canada,65.1,93.3,74.8,80.3,42.6,73.8,50152,17.6,25.0,54 : 46,2011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1973,167,UniversitÃ© Catholique de Louvain,Belgium,38.7,74.2,40.6,68.4,51.0,51.1,28856,42.0,19.0,54 : 46,2016
1974,172,University of Aberdeen,United Kingdom,29.7,91.4,31.4,82.6,43.1,51.0,12938,15.8,33.0,54 : 46,2016
1975,172,University of Auckland,New Zealand,31.4,90.5,39.5,69.8,78.0,51.0,29787,18.9,28.0,54 : 46,2016
1976,174,University of Barcelona,Spain,38.5,49.2,37.4,78.9,31.1,50.9,47491,12.2,10.0,62 : 38,2016
1977,175,University of Konstanz,Germany,38.5,58.3,46.7,61.9,92.4,50.8,10930,59.1,12.0,54 : 46,2016
1978,176,Eindhoven University of Technology,Netherlands,34.3,71.3,41.0,70.7,57.3,50.6,8176,16.0,14.0,19 : 81,2016
1979,176,University College Dublin,Republic of Ireland,35.0,86.3,38.5,70.8,33.5,50.6,22193,24.5,23.0,NaN,2016
1980,178,Hebrew University of Jerusalem,Israel,45.8,55.6,41.4,64.6,31.9,50.5,17612,10.7,5.0,55 : 45,2016
1981,179,University of Waterloo,Canada,35.4,74.4,43.9,66.5,39.5,50.3,30726,24.2,14.0,45 : 55,2016
1982,180,University of Gothenburg,Sweden,28.5,58.3,39.8,81.8,30.3,50.2,26420,16.4,12.0,NaN,2016
1983,180,Scuola Superiore Santâ€™Anna,Italy,42.5,45.2,23.2,84.5,71.2,50.2,769,8.5,17.0,35 : 65,2016
1984,182,University of Bergen,Norway,32.5,70.0,31.5,82.4,36.2,50.1,11623,11.1,12.0,60 : 40,2016
1985,182,Cardiff University,United Kingdom,30.9,78.1,31.6,82.0,34.6,50.1,23347,13.1,23.0,57 : 43,2016
1986,182,University of Utah,United States of America,35.6,30.1,35.3,83.7,57.4,50.1,25674,16.9,9.0,45 : 55,2016
1987,185,Brandeis University,United States of America,28.3,47.0,25.7,97.3,38.6,49.9,5495,12.6,22.0,55 : 45,2016
1988,185,University of Dundee,United Kingdom,25.6,78.5,26.9,90.2,49.5,49.9,11628,15.3,25.0,60 : 40,2016
1989,185,University of WÃ¼rzburg,Germany,34.6,50.9,35.8,79.1,47.9,49.9,26576,38.4,8.0,57 : 43,2016
1990,188,Paris-Sud University,France,38.7,64.2,29.0,79.8,28.8,49.8,27603,15.0,17.0,NaN,2016
1991,189,Arizona State University,United States of America,32.4,31.9,38.1,84.6,32.0,49.7,83236,29.9,9.0,50 : 50,2016
1992,190,University of Antwerp,Belgium,31.6,64.8,40.8,71.7,60.3,49.6,12346,30.3,16.0,56 : 44,2016
1993,190,Boston College,United States of America,34.1,60.0,29.3,83.3,46.8,49.6,13216,17.4,19.0,54 : 46,2016
1994,192,Ulm University,Germany,35.2,58.2,23.9,86.4,58.4,49.5,9187,11.2,10.0,47 : 53,2016
1995,193,University of Luxembourg,Luxembourg,25.0,99.8,26.7,84.8,38.1,49.4,5144,15.9,52.0,50 : 50,2016
1996,193,Texas A&M University,United States of America,49.4,47.8,52.4,47.1,46.4,49.4,50657,21.4,9.0,47 : 53,2016
1997,195,CharitÃ© - UniversitÃ¤tsmedizin Berlin,Germany,37.3,61.1,22.2,83.8,68.4,49.3,6853,6.6,16.0,64 : 36,2016
1998,196,Newcastle University,United Kingdom,30.9,84.3,27.5,81.5,34.7,49.2,20174,15.2,29.0,50 : 50,2016
1999,196,"St Georgeâ€™s, University of London",United Kingdom,25.6,69.5,18.1,100.0,37.7,49.2,2958,13.4,17.0,61 : 39,2016
2000,198,University of Trento,Italy,30.8,55.9,27.4,87.7,47.1,49.1,16841,43.2,8.0,51 : 49,2016
2001,199,Paris Diderot University â€“ Paris 7,France,30.5,64.9,22.9,91.0,29.0,48.9,27756,14.8,17.0,63 : 37,2016
2002,200,Queenâ€™s University Belfast,United Kingdom,34.1,93.4,33.3,68.9,35.7,48.8,17940,17.9,30.0,54 : 46,2016

In [4]:
# This function takes in a year as a parameter and filters the complete dataframe on that year
# After that it calculates the mean of the international students per group of 50 universities in the ranking
# The function returns a list with the all the means of the given year. This list is rounded up to a decimal 

def get_meantop200(year, column, country_divided = False):
    selected = complete_data[(complete_data['year']) == year][:200]
    if country_divided == True:
        countries = set(selected['country'])
        country_means = {}
        for country in countries:
            country_means[country] = selected[(selected['country']) == country][column].mean()
        return country_means
    else:
        means = [selected[column][:50].mean(),
                      selected[column][51:100].mean(),
                      selected[column][101:150].mean(),
                      selected[column][151:200].mean()
                    ]
    return np.around(means, 1);


#print(get_meantop200(2011, 'international_students', country_divided=True))
#test = get_meantop200(2011, 'international_students', country_divided=True)
#test.values()

In [5]:
means = []
for i in range(2011, 2017):
    means.append(get_meantop200(i, 'international_students', country_divided=False))

    mean_grouped = []
for i in range(0, 4):
    group_sum = 0
    for j in range(0, 4):
        group_sum += means[i][j]
    mean_grouped.append(group_sum / 4)

In [6]:
from plotly.offline import init_notebook_mode, iplot
import plotly.graph_objs as go

# Start notebook mode
init_notebook_mode(connected=True)

data = [go.Bar(
            x= ['Ranked 1-50', 'Ranked 51-100', 'Ranked 101-150', 'Ranked 151-200'],
            y= [mean_grouped[0], mean_grouped[1], mean_grouped[2], mean_grouped[3]],
            marker=dict(
                color='rgb(40, 180, 25)',
                line=dict(
                color='rgb(8,48,107)',
                width=3.5),
            ),
    )]


layout = go.Layout(
    title = 'Maak hier titel aub, gemiddelde % int studenten per groep van 50 voor alle jaren',
    yaxis = go.layout.YAxis(
        tickmode = 'linear',
        ticksuffix = "%",
        ticklen= 6,
        tickwidth= 3,
        title = 'Percentage international students'
    ),
    xaxis = go.layout.XAxis(
        title = 'Geef izjn goeie naam'
    ),
)
fig = go.Figure(data=data, layout=layout)
iplot(fig, filename='basic-bar')

In [7]:
def get_meanitem(column):
    means = []
    for i in range(1, 201):
        filtered = complete_data[(complete_data['world_rank']) == i]
        means.append(filtered[column].mean())
    return np.around(means, 1)


int_students = get_meanitem('international_students') 
int_score = get_meanitem('international')
total_score = get_meanitem('total_score')

In [8]:
# Create a trace
trace1 = go.Scatter(
    x = int_score[:50],
    y = int_students[:50],
    mode = 'markers',
    name = 'Ranked 1-50'
)
trace2 = go.Scatter(
    x = int_score[51:100],
    y = int_students[51:100],
    mode = 'markers',
    name = 'Ranked 51-100'
)
trace3 = go.Scatter(
    x = int_score[101:150],
    y = int_students[101:150],
    mode = 'markers',
    name = 'Ranked 101-150'
)
trace4 = go.Scatter(
    x = int_score[151:200],
    y = int_students[151:200],
    mode = 'markers',
    name = 'Ranked 151-200'
)

layout = go.Layout(
    title = 'Zebi zebi title',
    yaxis = go.layout.YAxis(
        tick0 = 5,
        dtick = 5,
        ticksuffix = "%",
        ticklen= 6,
        tickwidth= 3,
        range = [5,36],
        title = 'Percentage international students'
    ),
    xaxis = go.layout.XAxis(
        title = 'International score',
        range = [30, 100]
    ),
)

data = [trace1, trace2, trace3, trace4]
fig = go.Figure(data=data, layout=layout)


# Plot and embed in ipython notebook!
iplot(fig, filename='basic-scatter')

In [9]:
trace1 = go.Scatter(
    x = total_score[:50],
    y = int_students[:50],
    mode = 'markers',
    name = 'Ranked 1-50'
)
trace2 = go.Scatter(
    x = total_score[51:100],
    y = int_students[51:100],
    mode = 'markers',
    name = 'Ranked 51-100'
)
trace3 = go.Scatter(
    x = total_score[101:150],
    y = int_students[101:150],
    mode = 'markers',
    name = 'Ranked 101-150'
)
trace4 = go.Scatter(
    x = total_score[151:200],
    y = int_students[151:200],
    mode = 'markers',
    name = 'Ranked 151-200'
)

layout = go.Layout(
    title = 'TITLE AH MATTIE',
    yaxis = go.layout.YAxis(
        tick0 = 5,
        dtick = 5,
        ticksuffix = "%",
        ticklen= 6,
        tickwidth= 3,
        range = [5,36],
        title = 'Percentage international students'
    ),
    xaxis = go.layout.XAxis(
        title = 'Total Score',
        range = [30, 100]
    ),
)

data = [trace1, trace2, trace3, trace4]
fig = go.Figure(data=data, layout=layout)


# Plot and embed in ipython notebook!
iplot(fig, filename='basic-scatter')

In [10]:
country_stats = complete_data.groupby(['year', 'country']).mean()
counts = complete_data.groupby(['year', 'country']).size()
country_stats['count'] = counts

In [19]:
print(country_stats)

                               world_rank   teaching  international  \
year country
2011 Australia                  90.571429  49.657143      84.428571
     Austria                   191.000000  42.750000      81.350000
     Belgium                   121.500000  55.250000      27.150000
     Canada                    106.888889  52.422222      38.622222
     China                     105.333333  60.300000      36.783333
     Denmark                   155.333333  42.800000      47.733333
     Egypt                     147.000000  29.500000      19.300000
     Finland                   102.000000  49.000000      24.200000
     France                     80.250000  56.925000      47.775000
     Germany                   145.214286  49.107143      52.450000
     Hong Kong                  80.500000  47.775000      85.875000
     Japan                      91.400000  70.300000      20.360000
     Netherlands               149.400000  48.120000      43.450000
     New Zealand               145.000000  34.800000      94.300000
     Norway                    135.000000  39.900000      66.600000
     Republic of Ireland        85.000000  45.050000      85.600000
     Singapore                 104.000000  54.550000      97.050000
     South Africa              107.000000  36.600000      83.300000
     South Korea               101.500000  61.525000      35.550000
     Spain                     148.500000  34.550000      33.200000
     Sweden                    120.200000  49.540000      39.780000
     Switzerland                83.666667  54.833333      92.116667
     Taiwan                    141.500000  50.450000      35.625000
     Turkey                    183.000000  39.500000      27.200000
     United Kingdom            106.370370  50.814815      73.977778
     United States of America   70.391304  61.789855      42.701449
2012 Australia                  98.000000  48.085714      85.157143
     Austria                   139.000000  49.500000      86.600000
     Belgium                   114.000000  40.933333      58.833333
     Brazil                    178.000000  61.700000      22.900000
...                                   ...        ...            ...
2015 United Kingdom            107.370370  44.300000      81.822222
     United States of America   87.500000  53.864865      48.354054
2016 Australia                  76.750000  46.900000      88.612500
     Austria                   142.000000  40.800000      92.600000
     Belgium                   127.500000  43.075000      65.450000
     Canada                     87.714286  52.871429      81.314286
     China                      44.500000  75.550000      44.350000
     Denmark                   118.333333  41.333333      81.733333
     Finland                    76.000000  48.400000      51.800000
     France                    131.000000  49.220000      76.300000
     Germany                   112.900000  47.675000      57.885000
     Hong Kong                  80.333333  51.833333      87.033333
     Israel                    178.000000  45.800000      55.600000
     Italy                     163.333333  42.500000      49.133333
     Japan                      65.500000  76.000000      28.200000
     Luxembourg                193.000000  25.000000      99.800000
     Netherlands                94.666667  42.291667      70.300000
     New Zealand               172.000000  31.400000      90.500000
     Norway                    158.500000  37.900000      69.100000
     Republic of Ireland       168.000000  38.450000      88.400000
     Russian Federation        161.000000  75.400000      57.800000
     Singapore                  40.500000  60.050000      95.400000
     South Africa              120.000000  34.900000      80.200000
     South Korea               125.500000  52.575000      33.800000
     Spain                     161.333333  37.233333      54.266667
     Sweden                    111.666667  41.000000      66.333333
     Switzerland                91.428571  47.585714      93.285714
     Taiwan                    167.000000  54.100000      27.700000
     United Kingdom            108.625000  45.509375      86.843750
     United States of America   79.793651  57.420635      51.895238

                                research  citations  total_score  \
year country
2011 Australia                 53.342857  71.400000    59.814286
     Austria                   40.250000  52.900000    46.950000
     Belgium                   61.000000  49.000000    54.600000
     Canada                    60.711111  65.522222    59.800000
     China                     49.783333  66.350000    58.583333
     Denmark                   49.400000  60.066667    51.066667
     Egypt                     28.000000  99.800000    51.600000
     Finland                   51.400000  75.400000    56.600000
     France                    43.975000  86.850000    61.825000
     Germany                   42.285714  65.035714    52.457143
     Hong Kong                 50.350000  88.575000    63.800000
     Japan                     71.780000  46.220000    60.460000
     Netherlands               52.520000  53.730000    51.480000
     New Zealand               39.200000  71.800000    51.800000
     Norway                    42.100000  73.100000    52.700000
     Republic of Ireland       40.950000  85.350000    58.900000
     Singapore                 62.150000  61.850000    60.950000
     South Africa              42.100000  82.800000    56.100000
     South Korea               57.175000  62.200000    59.375000
     Spain                     33.350000  88.300000    51.600000
     Sweden                    60.220000  55.140000    55.440000
     Switzerland               54.700000  72.066667    62.083333
     Taiwan                    54.150000  55.075000    52.450000
     Turkey                    39.500000  66.400000    47.700000
     United Kingdom            53.029630  72.929630    59.596296
     United States of America  62.397101  79.636232    66.808696
2012 Australia                 55.714286  61.771429    57.528571
     Austria                   41.200000  45.200000    47.900000
     Belgium                   50.533333  63.966667    52.933333
     Brazil                    58.000000  18.800000    44.100000
...                                  ...        ...          ...
2015 United Kingdom            45.955556  81.348148    58.637037
     United States of America  53.468919  85.895946    62.863514
2016 Australia                 60.675000  78.775000    64.237500
     Austria                   50.500000  63.600000    54.200000
     Belgium                   53.200000  74.650000    58.025000
     Canada                    59.557143  77.985714    64.657143
     China                     77.700000  63.950000    71.000000
     Denmark                   41.100000  81.266667    56.600000
     Finland                   60.400000  82.100000    61.900000
     France                    35.380000  81.100000    56.520000
     Germany                   51.140000  77.130000    58.930000
     Hong Kong                 62.466667  73.700000    64.233333
     Israel                    41.400000  64.600000    50.500000
     Italy                     34.566667  79.800000    52.133333
     Japan                     76.150000  53.750000    65.500000
     Luxembourg                26.700000  84.800000    49.400000
     Netherlands               55.400000  82.283333    61.141667
     New Zealand               39.500000  69.800000    51.000000
     Norway                    38.100000  78.950000    52.600000
     Republic of Ireland       34.650000  73.300000    51.300000
     Russian Federation        66.700000   8.600000    51.900000
     Singapore                 72.900000  82.500000    73.700000
     South Africa              38.700000  85.600000    56.100000
     South Korea               52.900000  64.100000    55.800000
     Spain                     35.133333  84.466667    51.966667
     Sweden                    55.166667  80.433333    59.300000
     Switzerland               50.814286  84.385714    63.642857
     Taiwan                    58.000000  47.300000    51.100000
     United Kingdom            48.284375  86.678125    61.625000
     United States of America  59.214286  91.000000    67.431746

                                num_students  student_staff_ratio  \
year country
2011 Australia                  34468.571429            27.471429
     Austria                    26430.000000            18.700000
     Belgium                    37334.500000            38.000000
     Canada                     33927.444444            19.577778
     China                      37133.833333            12.616667
     Denmark                    20476.666667             7.566667
     Egypt                     127431.000000            23.300000
     Finland                    23505.000000            15.100000
     France                      8727.250000             7.350000
     Germany                    28355.642857            36.921429
     Hong Kong                  15931.250000            19.575000
     Japan                      19787.600000             6.280000
     Netherlands                18496.200000            17.210000
     New Zealand                29787.000000            18.900000
     Norway                     11623.000000            11.100000
     Republic of Ireland        18857.000000            21.250000
     Singapore                  28310.000000            15.850000
     South Africa               20040.000000            12.100000
     South Korea                15811.250000            11.400000
     Spain                      29196.000000            15.250000
     Sweden                     21013.600000            15.900000
     Switzerland                15768.333333            12.850000
     Taiwan                     16023.500000            15.400000
     Turkey                     25779.000000            22.200000
     United Kingdom             18759.518519            14.551852
     United States of America   24962.057971            11.842029
2012 Australia                  34480.000000            26.128571
     Austria                    34651.000000            20.500000
     Belgium                    34508.333333            39.333333
     Brazil                     81402.000000            14.600000
...                                      ...                  ...
2015 United Kingdom             18565.888889            14.392593
     United States of America   25538.229730            12.216216
2016 Australia                  32766.375000            26.625000
     Austria                    34651.000000            20.500000
     Belgium                    28967.750000            37.075000
     Canada                     39541.142857            19.457143
     China                      39955.500000            11.000000
     Denmark                    20476.666667             7.566667
     Finland                    23505.000000            15.100000
     France                     17610.000000            10.240000
     Germany                    27965.200000            38.175000
     Hong Kong                  16378.666667            17.200000
     Israel                     17612.000000            10.700000
     Italy                       6024.000000            22.733333
     Japan                      24504.000000             5.650000
     Luxembourg                  5144.000000            15.900000
     Netherlands                18191.750000            17.000000
     New Zealand                29787.000000            18.900000
     Norway                     19381.000000            14.950000
     Republic of Ireland        18857.000000            21.250000
     Russian Federation         30822.000000             7.700000
     Singapore                  28310.000000            15.850000
     South Africa               20040.000000            12.100000
     South Korea                15709.000000            13.575000
     Spain                      29643.333333            14.266667
     Sweden                     21914.666667            15.983333
     Switzerland                15616.857143            14.228571
     Taiwan                     31891.000000            11.900000
     United Kingdom             18325.562500            14.528125
     United States of America   25945.571429            11.757143

                               international_students  count
year country
2011 Australia                              31.428571      7
     Austria                                32.000000      2
     Belgium                                13.500000      2
     Canada                                 19.333333      9
     China                                   8.166667      6
     Denmark                                17.000000      3
     Egypt                                   1.000000      1
     Finland                                 6.000000      1
     France                                 20.500000      4
     Germany                                13.857143     14
     Hong Kong                              31.250000      4
     Japan                                   9.200000      5
     Netherlands                            15.000000     10
     New Zealand                            28.000000      1
     Norway                                 12.000000      1
     Republic of Ireland                    24.000000      2
     Singapore                              33.500000      2
     South Africa                           18.000000      1
     South Korea                             9.250000      4
     Spain                                  11.500000      2
     Sweden                                 15.600000      5
     Switzerland                            32.500000      6
     Taiwan                                  5.250000      4
     Turkey                                  7.000000      1
     United Kingdom                         32.740741     27
     United States of America               15.536232     69
2012 Australia                              31.571429      7
     Austria                                25.000000      1
     Belgium                                15.333333      3
     Brazil                                  4.000000      1
...                                               ...    ...
2015 United Kingdom                         32.629630     27
     United States of America               16.121622     74
2016 Australia                              30.875000      8
     Austria                                25.000000      1
     Belgium                                15.500000      4
     Canada                                 20.000000      7
     China                                  12.000000      2
     Denmark                                17.000000      3
     Finland                                 6.000000      1
     France                                 20.400000      5
     Germany                                13.600000     20
     Hong Kong                              32.000000      3
     Israel                                  5.000000      1
     Italy                                  10.000000      3
     Japan                                   8.500000      2
     Luxembourg                             52.000000      1
     Netherlands                            17.333333     12
     New Zealand                            28.000000      1
     Norway                                 15.000000      2
     Republic of Ireland                    24.000000      2
     Russian Federation                     20.000000      1
     Singapore                              33.500000      2
     South Africa                           18.000000      1
     South Korea                             8.000000      4
     Spain                                  11.000000      3
     Sweden                                 15.000000      6
     Switzerland                            29.857143      7
     Taiwan                                  7.000000      1
     United Kingdom                         31.750000     32
     United States of America               16.031746     63

[158 rows x 10 columns]

In [11]:
data = [go.Bar(
            x= ['Ranked 1-50', 'Ranked 51-100', 'Ranked 101-150', 'Ranked 151-200'],
            y= [mean_grouped[0], mean_grouped[1], mean_grouped[2], mean_grouped[3]],
            marker=dict(
                color='rgb(40, 180, 25)',
                line=dict(
                color='rgb(8,48,107)',
                width=3.5),
            ),
    )]


layout = go.Layout(
    title = 'Maak hier titel aub, gemiddelde % int studenten per groep van 50 voor alle jaren',
    yaxis = go.layout.YAxis(
        tickmode = 'linear',
        ticksuffix = "%",
        ticklen= 6,
        tickwidth= 3,
        title = 'Percentage international students'
    ),
    xaxis = go.layout.XAxis(
        title = 'Geef izjn goeie naam'
    ),
)
fig = go.Figure(data=data, layout=layout)
iplot(fig, filename='basic-bar')

In [136]:
def choro(raw, year, statistic, unit, zmax, rv):
    return go.Choropleth(
        zmin = 20,
        zmax = zmax,
        reversescale = rv,
        colorscale = [[0, 'rgb(50,50,255)'], [1, 'rgb(255,50,50)']],
        autocolorscale = False,
        locations = raw.index, #countries['country'],
        z = raw[statistic].astype(float),
        locationmode = 'country names',
#         text = raw.index,
        marker = go.choropleth.Marker(
            line = go.choropleth.marker.Line(
                color = 'rgb(0,0,0)',
                width = .25
            )),
        colorbar = go.choropleth.ColorBar(
            title = unit),
        customdata = [year]
    )

def worldmap(statistic, title, unit, zmax, rv):
    data = [choro(country_stats.loc[year], year, statistic, unit, zmax, rv) for year in country_stats.index.levels[0]]

    steps = []
    for i, d in enumerate(data):
        step = dict(method='restyle',
                    args=['visible', [False] * (len(data))],
                    label='Year {}'.format(d.customdata[0]))
        step['args'][1][i] = True
        steps.append(step)

    sliders = [dict(active=0,
                    pad={"t": 1},
                    steps=steps)]  

    layout = go.Layout(
        title = go.layout.Title(
            text = title
        ),
        geo = go.layout.Geo(
            scope = 'world',
            projection = go.layout.geo.Projection(type = 'equirectangular'),
            showlakes = True,
            lakecolor = 'rgb(255, 255, 255)'),
        sliders = sliders
    )

    fig = go.Figure(data = data, layout = layout)
    iplot(fig)

# for stat in country_stats.columns:
#     worldmap(stat)


worldmap('international', 'Average international score for each country', 'Average score', 100, False)

In [104]:
def filter_yearly(year, column, sort = True):
    filtered = country_stats.loc[year]
    if sort == True:
        filtered = filtered.sort_values(by=[column])
    return filtered

In [106]:
trace1 = {"x": filter_yearly(2011, 'international')['international'], 
          "y": filter_yearly(2011, 'international').index, 
          "marker": {"color": "blue", "size": 12}, 
          "mode": "markers", 
          "name": "2011", 
          "type": "scatter"
}

data = [trace1]
layout = {"title": "Gender Earnings Disparity", 
          "xaxis": {"title": "Annual Salary (in thousands)", }, 
          "yaxis": {"title": "School"}}

fig = go.Figure(data=data, layout=layout)
iplot(fig, filename='basic_dot-plot')

In [168]:
def Scatter(x_values, y_values, marker, name, visible):
    trace1 = {"x": x_values, 
          "y": y_values, 
          "marker": marker, 
          "mode": "markers", 
          "name": name, 
          "type": "scatter",
          "visible": visible
    }
    return trace1;

In [171]:
from plotly.tools import FigureFactory as FF
import json

trace1 = Scatter(filter_yearly(2011, 'international')['international'], 
                 filter_yearly(2011, 'international').index,
                 marker = {"color": "blue", "size": 12}, 
                 name='2011',
                 visible=True,  
               )

trace2 = Scatter(filter_yearly(2012, 'international')['international'], 
                 filter_yearly(2012, 'international').index,
                 marker = {"color": "blue", "size": 12}, 
                 name='2012',
                 visible=False
               )

data = [trace1, trace2]

layout = {"title": "Gender Earnings Disparity", 
          "xaxis": {"title": "Annual Salary (in thousands)", }, 
          "yaxis": {"title": "School"}}

updatemenus=list([
    dict(

        buttons=list([
            dict(
                args=['visible', [True, False, False, False, False, False]],
                label='2011',
                method='restyle'
            ),
            
            dict(
                args=['visible', [False, True, False, False, False, False]],
                label='2012',
                method='restyle'
            ),
        ]),
        direction = 'down',
        pad = {'r': 10, 't': 10},
        showactive = True,
        x = 0.1,
        xanchor = 'left',
        y = 1.1,
        yanchor = 'top' 
    ),
])


layout['updatemenus'] = updatemenus

fig = dict(data=data, layout=layout)
iplot(fig, filename='basic_dot-plot')