In [1]:



























import pandas as pd

In [2]:
#Reads in the CSV dataset
complete_data = pd.read_csv("timesData.csv")

# Strips the '=' character from the world_rank column 
# and removes all entries with NaN values in Interernation_students column
complete_data['world_rank'] = complete_data['world_rank'].map(lambda x: x.lstrip('='))
complete_data = complete_data.dropna(axis=0, subset=['international_students'])

#Make all possible columns datatype integers so you can make calculations with the values
#Also removed all percentages for easier calculations
complete_data = complete_data[~complete_data.world_rank.str.contains("-")]
complete_data = complete_data.apply(pd.to_numeric, errors='ignore')
complete_data['international_students'] = complete_data['international_students'].str[:-1].astype(float) 

#Removes all the comma's from the num_students columns
complete_data['num_students'] = complete_data['num_students'].str.replace(',', '').astype(int)

# Filters all entries on the year 2016 and selects the top 200 of that result
latest_year = complete_data[(complete_data['year'] == 2016) & (complete_data['world_rank'] <= 200)]

complete_data

,world_rank,university_name,country,teaching,international,research,citations,income,total_score,num_students,student_staff_ratio,international_students,female_male_ratio,year
0,1,Harvard University,United States of America,99.7,72.4,98.7,98.8,34.5,96.1,20152,8.9,25.0,NaN,2011
1,2,California Institute of Technology,United States of America,97.7,54.6,98.0,99.9,83.7,96.0,2243,6.9,27.0,33 : 67,2011
2,3,Massachusetts Institute of Technology,United States of America,97.8,82.3,91.4,99.9,87.5,95.6,11074,9.0,33.0,37 : 63,2011
3,4,Stanford University,United States of America,98.3,29.5,98.1,99.2,64.3,94.3,15596,7.8,22.0,42 : 58,2011
4,5,Princeton University,United States of America,90.9,70.3,95.4,99.9,-,94.2,7929,8.4,27.0,45 : 55,2011
5,6,University of Cambridge,United Kingdom,90.5,77.7,94.1,94.0,57.0,91.2,18812,11.8,34.0,46 : 54,2011
6,6,University of Oxford,United Kingdom,88.2,77.2,93.9,95.1,73.5,91.2,19919,11.6,34.0,46 : 54,2011
7,8,"University of California, Berkeley",United States of America,84.2,39.6,99.3,97.8,-,91.1,36186,16.4,15.0,50 : 50,2011
8,9,Imperial College London,United Kingdom,89.2,90.0,94.5,88.3,92.9,90.6,15060,11.7,51.0,37 : 63,2011
9,10,Yale University,United States of America,92.1,59.2,89.7,91.5,-,89.5,11751,4.4,20.0,50 : 50,2011
10,11,"University of California, Los Angeles",United States of America,83.0,48.1,92.9,93.2,-,87.7,38206,10.3,15.0,52 : 48,2011
11,12,University of Chicago,United States of America,79.1,62.8,87.9,96.9,-,86.9,14221,6.9,21.0,42 : 58,2011
12,13,Johns Hopkins University,United States of America,80.9,58.5,89.2,92.3,100.0,86.4,15128,3.6,23.0,50 : 50,2011
13,14,Cornell University,United States of America,82.2,62.4,88.8,88.1,34.7,83.9,21424,10.2,19.0,48 : 52,2011
14,15,ETH Zurich â€“ Swiss Federal Institute of Techno...,Switzerland,77.5,93.7,87.8,83.1,-,83.4,18178,14.7,37.0,31 : 69,2011
15,15,University of Michigan,United States of America,83.9,53.3,89.1,84.1,59.6,83.4,41786,9.0,16.0,48 : 52,2011
16,17,University of Toronto,Canada,75.8,-,87.9,82.2,-,82.0,66198,19.5,15.0,NaN,2011
17,18,Columbia University,United States of America,73.8,90.9,73.8,92.6,-,81.0,25055,5.9,28.0,NaN,2011
18,19,University of Pennsylvania,United States of America,71.8,32.9,82.7,93.6,43.7,79.5,20376,6.5,20.0,51 : 49,2011
19,20,Carnegie Mellon University,United States of America,70.3,39.1,79.3,95.7,53.7,79.3,11885,13.1,35.0,39 : 61,2011
20,21,University of Hong Kong,Hong Kong,68.4,91.4,71.4,96.1,56.5,79.2,19835,17.6,38.0,53 : 47,2011
21,22,University College London,United Kingdom,74.0,90.8,81.6,80.6,39.0,78.4,26607,10.7,46.0,56 : 44,2011
22,23,University of Washington,United States of America,68.2,49.0,77.1,95.9,32.8,78.0,44020,11.8,13.0,53 : 47,2011
23,24,Duke University,United States of America,66.8,49.4,71.5,92.3,100.0,76.5,15172,4.8,17.0,49 : 51,2011
24,25,Northwestern University,United States of America,64.5,60.5,68.8,95.3,-,75.9,18334,13.8,15.0,48 : 52,2011
25,26,University of Tokyo,Japan,87.7,18.4,91.9,58.1,-,75.6,26199,5.7,10.0,NaN,2011
26,27,Georgia Institute of Technology,United States of America,67.9,73.2,72.6,83.2,95.1,75.3,19967,20.1,26.0,31 : 69,2011
27,28,Pohang University of Science and Technology,South Korea,69.5,32.6,62.5,96.5,100.0,75.1,3055,10.1,4.0,20 : 80,2011
28,29,"University of California, Santa Barbara",United States of America,56.6,64.3,68.0,98.8,89.8,75.0,22020,27.3,11.0,52 : 48,2011
29,30,University of British Columbia,Canada,65.1,93.3,74.8,80.3,42.6,73.8,50152,17.6,25.0,54 : 46,2011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1973,167,UniversitÃ© Catholique de Louvain,Belgium,38.7,74.2,40.6,68.4,51.0,51.1,28856,42.0,19.0,54 : 46,2016
1974,172,University of Aberdeen,United Kingdom,29.7,91.4,31.4,82.6,43.1,51.0,12938,15.8,33.0,54 : 46,2016
1975,172,University of Auckland,New Zealand,31.4,90.5,39.5,69.8,78.0,51.0,29787,18.9,28.0,54 : 46,2016
1976,174,University of Barcelona,Spain,38.5,49.2,37.4,78.9,31.1,50.9,47491,12.2,10.0,62 : 38,2016
1977,175,University of Konstanz,Germany,38.5,58.3,46.7,61.9,92.4,50.8,10930,59.1,12.0,54 : 46,2016
1978,176,Eindhoven University of Technology,Netherlands,34.3,71.3,41.0,70.7,57.3,50.6,8176,16.0,14.0,19 : 81,2016
1979,176,University College Dublin,Republic of Ireland,35.0,86.3,38.5,70.8,33.5,50.6,22193,24.5,23.0,NaN,2016
1980,178,Hebrew University of Jerusalem,Israel,45.8,55.6,41.4,64.6,31.9,50.5,17612,10.7,5.0,55 : 45,2016
1981,179,University of Waterloo,Canada,35.4,74.4,43.9,66.5,39.5,50.3,30726,24.2,14.0,45 : 55,2016
1982,180,University of Gothenburg,Sweden,28.5,58.3,39.8,81.8,30.3,50.2,26420,16.4,12.0,NaN,2016
1983,180,Scuola Superiore Santâ€™Anna,Italy,42.5,45.2,23.2,84.5,71.2,50.2,769,8.5,17.0,35 : 65,2016
1984,182,University of Bergen,Norway,32.5,70.0,31.5,82.4,36.2,50.1,11623,11.1,12.0,60 : 40,2016
1985,182,Cardiff University,United Kingdom,30.9,78.1,31.6,82.0,34.6,50.1,23347,13.1,23.0,57 : 43,2016
1986,182,University of Utah,United States of America,35.6,30.1,35.3,83.7,57.4,50.1,25674,16.9,9.0,45 : 55,2016
1987,185,Brandeis University,United States of America,28.3,47.0,25.7,97.3,38.6,49.9,5495,12.6,22.0,55 : 45,2016
1988,185,University of Dundee,United Kingdom,25.6,78.5,26.9,90.2,49.5,49.9,11628,15.3,25.0,60 : 40,2016
1989,185,University of WÃ¼rzburg,Germany,34.6,50.9,35.8,79.1,47.9,49.9,26576,38.4,8.0,57 : 43,2016
1990,188,Paris-Sud University,France,38.7,64.2,29.0,79.8,28.8,49.8,27603,15.0,17.0,NaN,2016
1991,189,Arizona State University,United States of America,32.4,31.9,38.1,84.6,32.0,49.7,83236,29.9,9.0,50 : 50,2016
1992,190,University of Antwerp,Belgium,31.6,64.8,40.8,71.7,60.3,49.6,12346,30.3,16.0,56 : 44,2016
1993,190,Boston College,United States of America,34.1,60.0,29.3,83.3,46.8,49.6,13216,17.4,19.0,54 : 46,2016
1994,192,Ulm University,Germany,35.2,58.2,23.9,86.4,58.4,49.5,9187,11.2,10.0,47 : 53,2016
1995,193,University of Luxembourg,Luxembourg,25.0,99.8,26.7,84.8,38.1,49.4,5144,15.9,52.0,50 : 50,2016
1996,193,Texas A&M University,United States of America,49.4,47.8,52.4,47.1,46.4,49.4,50657,21.4,9.0,47 : 53,2016
1997,195,CharitÃ© - UniversitÃ¤tsmedizin Berlin,Germany,37.3,61.1,22.2,83.8,68.4,49.3,6853,6.6,16.0,64 : 36,2016
1998,196,Newcastle University,United Kingdom,30.9,84.3,27.5,81.5,34.7,49.2,20174,15.2,29.0,50 : 50,2016
1999,196,"St Georgeâ€™s, University of London",United Kingdom,25.6,69.5,18.1,100.0,37.7,49.2,2958,13.4,17.0,61 : 39,2016
2000,198,University of Trento,Italy,30.8,55.9,27.4,87.7,47.1,49.1,16841,43.2,8.0,51 : 49,2016
2001,199,Paris Diderot University â€“ Paris 7,France,30.5,64.9,22.9,91.0,29.0,48.9,27756,14.8,17.0,63 : 37,2016
2002,200,Queenâ€™s University Belfast,United Kingdom,34.1,93.4,33.3,68.9,35.7,48.8,17940,17.9,30.0,54 : 46,2016

In [3]:
# Importeer nodige functies en modules
from plotly.offline import init_notebook_mode, iplot
import plotly.graph_objs as go

# Start notebook mode
init_notebook_mode(connected=True)

# Create random data with numpy
import numpy as np


# Create a trace
trace1 = go.Scatter(
    x=latest_year['world_rank'],
    y=latest_year['total_score'],
    mode = 'lines'
)

data = [trace1]

# Edit the layout
layout = dict(title = 'The total score for the top 200 universities of the most recent given year (2016)',
              xaxis = dict(title = 'Position in the world ranking'),
              yaxis = dict(title = 'Total score', ticklen= 6, tickwidth= 3),
              )

fig = dict(data=data, layout=layout)
iplot(fig, filename='basic-line')

In [4]:
N = list(range(1, 201, 1))


data = [go.Bar(
            x=N,
            y=latest_year['international_students']
    )]


layout = go.Layout(
    title = 'The percentage of international students per university in the top 200 for the latest given year (2016)',
    yaxis = go.layout.YAxis(
        tickmode = 'linear',
        tick0 = 0,
        dtick = 5,
        ticksuffix = "%",
        ticklen= 6,
        tickwidth= 3,
        title = 'Percentage international students'
    ),
    xaxis = go.layout.XAxis(
        title = 'University ranking #'
    ),
)
fig = go.Figure(data=data, layout=layout)
iplot(fig, filename='basic-bar')
print('Note: The graph does not include 2 universities because of missing data.')

Note: The graph does not include 2 universities because of missing data.

In [5]:
#For optimal calculations for future graphs and pie charts we want to divide all the years into 4 groups of 50 university.


# This function takes in a year as a parameter and filters the complete dataframe on that year
# After that it calculates the mean of the international students per group of 50 universities in the ranking
# The function returns a list with the all the means of the given year. This list is rounded up to a decimal 
def get_mean(year):
    year = complete_data[(complete_data['year'] == year)]
    means = []
    means.extend([year['international_students'][:50].mean(),
                  year['international_students'][51:100].mean(),
                  year['international_students'][101:150].mean(),
                  year['international_students'][151:].mean()
                ])
    return np.around(means, 1);

In [6]:
#Create a list for all the years for better readability
years = list(range(2011, 2017, 1))

# 
means = []
for i in range(2011, 2017, 1):
    means.append(get_mean(i))

trace1 = go.Bar(
    x=years,
    y=[means[0][0], means[1][0], means[2][0], means[3][0], means[4][0], means[5][0]],
    name='Ranked 1-50'
)
trace2 = go.Bar(
    x=years,
    y=[means[0][1], means[1][1], means[2][1], means[3][1], means[4][1], means[5][1]],
    name='Ranked 51-100'
)
trace3 = go.Bar(
    x=years,
    y=[means[0][2], means[1][2], means[2][2], means[3][2], means[4][2], means[5][2]],
    name='Ranked 101-150'
)
trace4 = go.Bar(
    x=years,
    y=[means[0][3], means[1][3], means[2][3], means[3][3], means[4][3], means[5][3]],
    name='Ranked 151-200'
)

data = [trace1, trace2, trace3, trace4]
layout = go.Layout(
    barmode='group',
    title = 'The top 200 universities, divided in groups of 50, compared based on the percentage of international students',
    yaxis = go.layout.YAxis(
        tickmode = 'linear',
        tick0 = 0,
        dtick = 5,
        ticklen=6,
        tickwidth=3,
        range=[0, 30],
        ticksuffix = "%",
        title = 'Percentage international students'
    ),
    xaxis = go.layout.XAxis(
        title = 'Year'
    )
    
)

fig = go.Figure(data=data, layout=layout)
iplot(fig, filename='grouped-bar')

In [7]:
# Calculates per group of 50 universities in the rankings the sum of all the students and 
# multiplies that value with the average percetenage international students for that group
# The values are then put into a list for a specific year

def average_intstudent(year):
    mean_lst = get_mean(year)
    averages = []
    
    year = complete_data[(complete_data['year'] == year)]
    
    averages.extend([sum(year['num_students'][:50]) * (mean_lst[0] / 100),
                  sum(year['num_students'][51:100]) * (mean_lst[1] / 100),
                  sum(year['num_students'][101:150]) * (mean_lst[2] / 100),
                  sum(year['num_students'][151:]) * (mean_lst[3] / 100)
                ])
    return averages;

In [8]:
averages = []

for i in range(2011, 2017, 1):
    averages.append(average_intstudent(i))

trace0 = dict(
    x=years,
    y=[averages[0][0], averages[1][0], averages[2][0], averages[3][0], averages[4][0], averages[5][0]],
    hoverinfo='x+y',
    mode='lines',
    stackgroup='one',
    name = 'Ranked 1-50'
)
trace1 = dict(
    x=years,
    y=[averages[0][1], averages[1][1], averages[2][1], averages[3][1], averages[4][1], averages[5][1]],
    hoverinfo='x+y',
    mode='lines',
    stackgroup='one',
    name = 'Ranked 51-100'
)
trace2 = dict(
    x=years,
    y=[averages[0][2], averages[1][2], averages[2][2], averages[3][2], averages[4][2], averages[5][2]],
    hoverinfo='x+y',
    mode='lines',
    stackgroup='one',
    name = 'Ranked 101-150'
)
trace3 = dict(
    x=years,
    y=[averages[0][3], averages[1][3], averages[2][3], averages[3][3], averages[4][3], averages[5][3]],
    hoverinfo='x+y',
    mode='lines',
    stackgroup='one',
    name = 'Ranked 151-200'
)
data = [trace0, trace1, trace2, trace3]
layout = go.Layout(
    title = 'The top 200 universities, divided in groups of 50, compared based on the amount of international students',
    yaxis = go.layout.YAxis(
        range=[0, 1000000],
        title = 'International students',
        ticklen= 6,
        tickwidth= 3
    ),
    xaxis = go.layout.XAxis(
        title = 'Year'
    )
    
)

fig = go.Figure(data=data, layout=layout)
iplot(fig, filename='stacked-area-plot-hover', validate=False)

In [9]:
def get_cumulative_intscore(year):
    year = complete_data[(complete_data['year'] == year)]
    scores = []
    scores.extend([year['international_students'][:50].sum(),
                  year['international_students'][51:100].sum(),
                  year['international_students'][101:150].sum(),
                  year['international_students'][151:].sum()
                ])
    return np.around(scores)

intscores = []
for i in range(2011, 2017, 1):
    intscores.append(get_cumulative_intscore(i))

In [10]:
x = years
y = [sum(intscores[0]), sum(intscores[1]), sum(intscores[2]), sum(intscores[3]), sum(intscores[4]), sum(intscores[5])]

data = [go.Bar(
            x=x,
            y=y,
            text=y,
            textposition = 'auto',
            marker=dict(
                color='rgb(158,202,225)',
                line=dict(
                    color='rgb(8,48,107)',
                    width=1.5),
            ),
            opacity=0.6
        )]
layout = go.Layout(
    title = 'Cumulative international score for each year',
    yaxis = go.layout.YAxis(
        range=[0, 4000],
        title = 'Cumulative international score',
        ticklen= 6,
        tickwidth= 3
    ),
    xaxis = go.layout.XAxis(
        title = 'Year'
    )
    
)

fig = go.Figure(data=data, layout=layout)
iplot(fig, filename='bar-direct-labels')

In [11]:
fig = {
  "data": [
    {
      "values": [intscores[0][0], intscores[0][1], intscores[0][2], intscores[0][3]],
      "labels": [
        "Ranked 1-50",
        "Ranked 51-100",
        "Ranked 101-150",
        "Ranked 151-200"
      ],
      "domain": {"column": 0, "row": 0},
      "name": "",
      "textposition":"outside",
      "hoverinfo":"label+percent+name",
      "hole": .7,
      "type": "pie"
    },
      {
      "values": [intscores[1][0], intscores[1][1], intscores[1][2], intscores[1][3]],
      "labels": [
        "Ranked 1-50",
        "Ranked 51-100",
        "Ranked 101-150",
        "Ranked 151-200"
      ],
      "textposition":"outside",
      "domain": {"column": 1, "row": 0},
      "name": "International Score",
      "hoverinfo":"label+percent+name",
      "hole": .7,
      "type": "pie"
    },
    {
      "values": [intscores[2][0], intscores[2][1], intscores[2][2], intscores[2][3]],
      "labels": [
        "Ranked 1-50",
        "Ranked 51-100",
        "Ranked 101-150",
        "Ranked 151-200"
      ],
      "textposition":"outside",
      "domain": {"column": 2, "row": 0},
      "name": "International Score",
      "hoverinfo":"label+percent+name",
      "hole": .7,
      "type": "pie"},
  {
      "values": [intscores[3][0], intscores[3][1], intscores[3][2], intscores[3][3]],
      "labels": [
        "Ranked 1-50",
        "Ranked 51-100",
        "Ranked 101-150",
        "Ranked 151-200"
      ],
      "textposition":"outside",
      "domain": {"column": 0, "row": 1},
      "name": "International Score",
      "hoverinfo":"label+percent+name",
      "hole": .7,
      "type": "pie"
    },
    {
      "values": [intscores[4][0], intscores[4][1], intscores[4][2], intscores[4][3]],
      "labels": [
        "Ranked 1-50",
        "Ranked 51-100",
        "Ranked 101-150",
        "Ranked 151-200"
      ],
      "textposition":"outside",
      "domain": {"column": 1, "row": 1},
      "name": "International Score",
      "hoverinfo":"label+percent+name",
      "hole": .7,
      "type": "pie"
    },
    {
      "values": [intscores[5][0], intscores[5][1], intscores[5][2], intscores[5][3]],
      "labels": [
        "Ranked 1-50",
        "Ranked 51-100",
        "Ranked 101-150",
        "Ranked 151-200"
      ],
      "textposition":"outside",
      "domain": {"column": 2, "row": 1},
      "name": "International Score",
      "hoverinfo":"label+percent+name",
      "hole": .7,
      "type": "pie"}],
    
    "layout": {
        "title":"Percentage of the total international score per year per group of 50 universities",
        "grid": {"rows": 2, "columns": 3},
        "height": 700,
        "width": 900,
        "legend": dict(x=1, y=.5),
        "annotations": [
            {
                "font": {
                    "size": 20
                },
                "showarrow": False,
                "text": "2011",
                "x": 0.1135,
                "y": 0.797
            },
            {
                "font": {
                    "size": 20
                },
                "showarrow": False,
                "text": "2012",
                "x": 0.5,
                "y": 0.797
            },
            {
                "font": {
                    "size": 20
                },
                "showarrow": False,
                "text": "2013",
                "x": 0.887,
                "y": 0.797
            },
                        {
                "font": {
                    "size": 20
                },
                "showarrow": False,
                "text": "2014",
                "x": 0.1135,
                "y": 0.215
            },
            {
                "font": {
                    "size": 20
                },
                "showarrow": False,
                "text": "2015",
                "x": 0.5,
                "y": 0.215
            },
            {
                "font": {
                    "size": 20
                },
                "showarrow": False,
                "text": "2016",
                "x": 0.887,
                "y": 0.215
            }
        ]
    }
    
}
iplot(fig, filename='donut')